.button-show {
    margin-top: 15px;
  }
  
  .button-show .i-d-w {
    background-color: #1986d2;
    font-size: 14px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 1px;
  }


  .button-show:hover{
    background-color: rebeccapurple;
  }